html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html {
  margin-left: 80px;

}
@media screen and (max-width: 900px) {
  html {
    margin-left: 0px;    
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.slick-prev:before,
.slick-next:before {
  color: #e7c05f  !important;
}